# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# Title Detection
title_detection/art/data
title_detection/art/result
title_detection/art/art2
title_detection/art/email.config

/bin/
